<div class="message-container" id="message-<%= message.id %>">
  <div class="author <%='current' if user_is_author %>">
    <div class="author-cont">
    <div class="message-style <%='current' if user_is_author %>">
      <p><%= message.content %></p>
    </div>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </div>
  </div>
</div>
