<div class="main">

  <div class="side-bar">
    <%= render 'shared/user-sidebar' %>
  </div>

  <div class="conv-box">

    <div class="conv-lb">
      <div class="conv-bar">
        <h5>Messages</h5>
        <!-- Bootstrap model for creating a conversation -->
        <dm class="text-blue" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user-plus"></i></dm>
      </div>
      <div id="conv-cont" class="parent-scroll">
        <div class="child-scroll child-convH">
          <% @conversations.each do |conversation| %>
            <%= link_to conversation_path(conversation.id), :class => 'conv_links' do  %>
              <div class="conversations" id="conv-<%=conversation.id%>">
                <div class="wtf-avatar" style="padding-right: 14px;">
                  <i class="fas fa-user-circle"></i>
                </div>
                <div class="conv-user">
                  <div class="conv-user-data">
                   <h3 class="mr-1"><%= truncate(conversation.other_user(current_user).username, :length => 17)%></h3>
                   <h4>@<%= truncate(conversation.other_user(current_user).handle, :length => 8) %></h4>
                  </div>
                  <div class="conv-user-mess">
                   <% if conversation.messages.empty? %>
                      <mess><%= truncate("", :length => 35) %></mess>
                    <% else  %>
                      <mess><%= truncate(conversation.messages.last.content, :length => 35) %></mess>
                    <% end %>
                  </div>
                </div>
                <div class="conv-date">
                  <% if conversation.updated_at.year < Time.now.year  %>
                  <%= raise %>
                   <t> <%= conversation.updated_at.strftime('%b %d, %Y')%></t>
                  <% else %>
                   <t> <%= conversation.updated_at.strftime('%b %d')%></t>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="conv-rb">


        <div class="conv-head">
          <h3><%= @conversation.other_user(current_user).username%></h3>
          <h4>@<%= @conversation.other_user(current_user).handle%></h4>
        </div>

        <div class="parent-scroll">
          <div class="conv-msgs child-scroll child-msgsH">
            <div id="messages" data-conversation-id="<%= @conversation.id %>">
              <% @messages.each do |message| %>
                <%= render "conversations/conv-messages", message: message %>
              <% end %>
            </div>
          </div>
        </div>

<!--       <div class="conv-submit">
       <%= simple_form_for [ @conversation, @message ], input_html: {class: "chat-form"}, remote: true do |f| %>
            <div class="d-flex form_input">
            <%= f.input_field :content, label: false, placeholder: "Write your message", autocomplete: false, input_html: {class: "input-chat"}%>
              <%= f.button :submit, "Send", class: "btn btn-primary"%>
            </div>
          <% end %> -->
<div class="form-pos">
          <%= simple_form_for [ @conversation, @message ],
            wrapper: :inline_form,
            html: { class: "form-inline", style: "justify-content: space-evenly;" },
            wrapper_mappings: {
              boolean: :inline_boolean
            } do |f| %>

            <%= f.input :content, input_html: { class: "", style: "width: 400px; margin-top: 0px; margin-bottom: 8px; height: 38px;", row: 1 } %>

            <%= f.button :submit, class: "btn-primary mb-2"%>
          <% end %>
          </div>




        </div>

    </div>





  </div>


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-end" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">New message</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <p>HENLO CHATTO</p>  -->
        <%= simple_form_for @conversation do |f| %>
          <%= f.association :sender %>
          <%= f.association :recipient, label: false %>
          <div class="d-flex forms-buttons">
          <%= link_to "Cancel", conversations_path, class: "btn-secondary" %>
          <%= f.button :submit, 'Post', class: "btn btn-primary" %>
       <% end  %>
    </div>
  </div>
</div>
</div>
