<div class="main">
  <div class="side-bar">
    <%= render 'shared/user-sidebar' %>
  </div>
  <div class="conv-box">

    <div class="conv-lb">
      <div class="conv-bar">
        <h5>Messages</h5>
        <!-- Bootstrap model for creating a conversation -->
        <dm class="text-blue" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user-plus"></i></dm>
      </div>
        <% @conversations.each do |conversation| %>
          <%= link_to conversation_path(conversation.id), :class => 'conv_links' do  %>
            <div class="conversations" id="conv-<%=conversation.id%>">
              <div class="wtf-avatar" style="padding-right: 14px;">
                <i class="fas fa-user-circle"></i>
              </div>
              <div class="conv-user">
                <div class="conv-user-data">
                 <h3 class="mr-1"><%= truncate(conversation.other_user(current_user).username, :length => 17)%></h3>
                 <h4>@<%= truncate(conversation.other_user(current_user).handle, :length => 8) %></h4>
                </div>
                <div class="conv-user-mess">
                 <mess><%= truncate("fjep foe ad fwp  aofnoi soqns qpqsd qs", :length => 35) %></mess>
                </div>
              </div>
              <div class="conv-date">
                <% if conversation.updated_at.year < Time.now.year  %>
                <%= raise %>
                 <t> <%= conversation.updated_at.strftime('%b %d, %Y')%></t>
                <% else %>
                 <t> <%= conversation.updated_at.strftime('%b %d')%></t>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="conv-rb">
      <div id="messages" data-conversation-id="<%= @conversation.id %>">
        <% @messages.each do |message| %>
          <%= render "conversations/conv-messages", message: message %>
        <% end %>
      </div>
      <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Write your message", autocomplete: false, wrapper_html: {class: "text-chat"}, input_html: {class: "input-chat"} %>
        <div class="form-group button-chat">
          <%= f.button :submit, "Send", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>

  </div>


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-end" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">New message</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <p>HENLO CHATTO</p>  -->
        <%= simple_form_for @conversation do |f| %>
          <%= f.association :sender %>
          <%= f.association :recipient, label: false %>
          <div class="d-flex forms-buttons">
          <%= link_to "Cancel", conversations_path, class: "btn-secondary" %>
          <%= f.button :submit, 'Post', class: "btn btn-primary" %>
       <% end  %>
    </div>
  </div>
</div>
</div>
