<div class="main">
  <div class="side-bar">
    <%= render 'shared/user-sidebar' %>
  </div>
  <div class="main-center">
    <div class="backtofeed">
      <%= render 'backtofeed' %>
    </div>
    <div class="twtinput">
      <%= render 'profile-data' %>
    </div>
    <div class="twtfeed">
      <%= render 'profile-favs' %>
    </div>
  </div>
  <div class="side-bar">
    <%= render 'shared/latest-sidebar' %>
  </div>
</div>

